.search-container {
  position: relative;
  width: 80%;
}

.search-input {
  width: 100%;
  padding: 10px 20px 10px 40px; /* The left padding is larger to make space for the icon */
  border: 1px solid #ccc;
  border-radius: 20px; /* This makes the input field rounded */
  font-size: 16px;
}

.fas.fa-search {
  position: absolute;
  left: 10px;
  top: 10px;
}


.individual-element img {
  width: 80%;
  border-radius: 20px;
}

.individual-element {
  padding: 5%;
}

.search-input {
  height: 60px;
}

body {
  font-family: circular, sans-serif;
  font-weight: lighter;
}

.image-container {
  width: 700px;
  height: 700px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.image-row {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 30%;
  margin: 10px 30px 10px 10px;
  
}

.image-item p {
  font-size: 30px;
  white-space: nowrap;
}

.bottom-rectangle {
  position: fixed;
  bottom: 0;
  width: 100%; 
  height: 150px; 
  background-color: #ffff; 
}

.element-description {
  font-size: large;
}

.footer-row-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-row-list p {
  width: 50%;
  font-size: 40px;
}

hr {
  border: none;
  height: 0.7px;
  background-color: grey;
  margin: 30px
}