.search-container {
  position: relative;
  width: 80%;
  padding: 10px 20px 10px 40px;
  /* The left padding is larger to make space for the icon */
  border: 1px solid #ccc;
  border-radius: 60px;
  /* This makes the input field rounded */
  font-size: 16px;
  display: flex;
  height: 100px;
  box-shadow: 0 3px 10px rgba(0 0 0/0.1);
  align-items: center;
}

.search-input {
  height: 30px;
  border: 0px;
  width: 80%;
  font-size: 30px;
}

.filter {
  border: 3px solid #7a7a7a;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  padding: 20px;
  margin-left: 25px;
}

.search-input::placeholder {
  font-weight: bold;
  color: black;
}

#add-guests {
  font-size: 25px;
  margin-top: 7px;
}

#form-text {
  margin-left: 30px;
}

.search-form {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}


.individual-element img {
  width: 80%;
  border-radius: 20px;
}

.individual-element {
  padding: 4% 5% 4% 5%;
}


body {
  font-family: circular, sans-serif;
  font-weight: lighter;

}

.image-container {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  padding: 0;
  /* Remove padding to make images touch the margins */
}

.image-container img {
  flex: 1 0 auto;
  /* This will make the images flexible, allowing them to grow and shrink as needed */
  width: 100%;
  /* This will make the image take up the full width of the container */
  height: 80vw;
  /* This will make the image square */
  object-fit: cover;
  /* This will ensure that the image covers the entire container */
}


/*menu*/
.image-row {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 20px;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 57px;
  /* Adjust this value to make the items smaller */
  height: 57px;
  /* Adjust this value to make the items smaller */
  margin: 10px 130px 70px 10px;
}

.image-item p {
  font-size: 28px;
  font-weight: normal !important;
  white-space: nowrap;
  margin: 7px;
  color: #616161;
}

.image-item img {
  width: 100%;
  /* This will make the image take up the full width of the .image-item container */
  height: 100%;
  /* This will make the image take up the full height of the .image-item container */
  object-fit: contain;
  /* This will ensure that the image is resized to fit the container while maintaining its aspect ratio */
  filter: grayscale(80%);
}

.bottom-rectangle {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #ffff;
}


/* Images and text beneath*/
.element-description {
  font-size: 20px;
}

/*footer row list*/
.footer-row-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px
}

.footer-row-list p {
  width: 50%;
  font-size: 35px;


}

hr {
  border: none;
  height: 0.7px;
  background-color: grey;
  margin: 50px
}

.inspiration-title {
  font-size: 40px;
  font-weight: 40;
  margin: 50px 0 0 50px;
}

.inspiration-title p {
  font-size: 50px;
  /* Adjust this value to change the size of the text */
}

.getaways-list {
  display: flex;
  /* Makes the list horizontal */
  overflow-x: auto;
  /* Makes the list scrollable */
  margin-left: 50px;
  margin-right: 50px;
  white-space: nowrap;
  /* Prevents the items from wrapping onto the next line */
}

.getaways-list p {
  margin: 10px 50px 50px 10px;
  font-size: 31px;
  font-weight: normal;
  color: #616161;
}

.rounded-button {
  background-color: black;
  /* Makes the button black */
  color: white;
  /* Makes the text white */
  border: none;
  /* Removes the default button border */
  padding: 30px 40px;
  /* Adds some padding */
  text-align: center;
  /* Centers the text */
  text-decoration: none;
  /* Removes the default underline */
  display: block;
  /* Makes the button a block element */
  margin: auto;
  /* Centers the button */
  font-size: 34px;
  border-radius: 12px;
  /* Makes the button rounded */
  cursor: pointer;
  /* Changes the cursor when you hover over the button */

  /*heart icon on images*/
  .heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    /* Adjust this value to change the size of the heart icon */
    color: transparent;
    /* Makes the heart icon transparent */
    -webkit-text-stroke: 2px white;
    /* Creates the white outline */
  }
  border-radius: 12px; /* Makes the button rounded */
  cursor: pointer; /* Changes the cursor when you hover over the button */
}

.continue-exploring p {
font-size: 48px;
text-align: center;
font-weight: normal;
}

.left-aligned-footer p{
  margin-left: 50px;
  margin-right: 50px;
}

.star-and-score {
  display: flex;
  align-items: center;
  font-size: 40px;
}

.rating-score {
  margin-left: 5px;
  font-weight: 500;
}

.element-description-and-star-and-score {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.element-description {
  font-size: 38px
}