.search-container {
  position: relative;
  width: 80%;
}

.search-input {
  width: 100%;
  padding: 10px 20px 10px 40px; /* The left padding is larger to make space for the icon */
  border: 1px solid #ccc;
  border-radius: 20px; /* This makes the input field rounded */
  font-size: 16px;
}

.fas.fa-search {
  position: absolute;
  left: 10px;
  top: 10px;
}

#mobile_size_setter {
  /* Width of iPhone 12 Pro screen */
  width: 1170px;
  margin: auto;
}

img {
  width: 100%;
}